{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<p class="text-primary"><a href="/performance">Alle optredens die er zijn geweest</a></p>
<p class="text-primary"><a href="/performance">Opkomende optredens</a></p>
<p class="text-primary"><a href="/performance">Optredens de komende week</a></p>


{% endblock %}
